__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

.ipynb_checkpoints/
.vscode/

.DS_Store
Thumbs.db

Task09_Spleen/
data/
*.nii
*.nii.gz
*.tar
*.zip

results/checkpoints/
results/predictions/

*.log
training_log.txt

*.pth
*.pt
*.ckpt

.cache/